body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
.color-add{
color: orangered;
}
.flexible-container{
  display: flex;
  margin-bottom: 100px;
}
.half-width{
  width: 50%;
  padding-left: 10px;
}
.half-width img{
  width: 62%;
}
.link-button{
color: black;
background-image: linear-gradient(orangered, tomato);
text-decoration: none;
border-radius: 5px;
padding: 10px 40px;
color: white;
font-weight: 700;
}
.experience-block{
  box-shadow: 10px 20px 30px palevioletred;
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2%;
  padding-right: 2%;
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  border-left: 10px solid deeppink;
}
.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.width-size{
  width: 50%;
  padding-right: 23px;
}
.width-size img{
  width: 600px;
}
.border-left{
  border-left: 10px solid rgb(40, 11, 230);
}
footer p{
  text-align: center;
}
